# stars_thrifts_.github.io*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}
header.flex{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    max-width: 120px;
    height: auto;
}
.navmeun{
    display: flex;
}
.navmeun a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10PX 20px;
    font-weight: 400;
    transition: all 42s ease;
    margin-right: 20px;

}
.navmeun a:hover{
    color: #EE1C47;
}
.nav-icon{
    display: flex !important;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all 42s ease;
}
.nav-icon i:hover{
    transform: scale(1,1);
    color:#EE1C47
}
#meun-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 10% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(https://scontent.ftun10-1.fna.fbcdn.net/v/t1.15752-9/467466244_1304736774040360_25703259337592389_n.jpg?stp=dst-jpg_p480x480_tt6&_nc_cat=101&ccb=1-7&_nc_sid=0024fc&_nc_ohc=mhfMZHe0A1UQ7kNvgHfWdZp&_nc_oc=AdiNQjH0rSV4Pw2bHSGaAF4gl_-M9J-mv5aT9vtIWOa6bbQ5M7uZq7AV45uak8JtTcU&_nc_ad=z-m&_nc_cid=1360&_nc_zt=23&_nc_ht=scontent.ftun10-1.fna&oh=03_Q7cD1gFOfuQpDCq0vj7z9HgOkPcKmrKj97HJRDv5malhFdA0_w&oe=67E94BBC);
    display:grid;
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    background-position: center;
    background-size: cover;
}
.text-home h5{
    color: #EE1C47;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.text-home h1{
    color: #000;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.text-home p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: #000;
    color: #fff;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;

}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    border-radius: 50Px;
    padding: 12px 12px;
}
.down i:hover{
    background-color: #2c2c2c;
    color: #fff;
    transition: all .42s ease;
}
header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0 / 10%);
}
/*trending-section-css */
.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30Px;
}
.center-text span{
    color: #EE1C47;

}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}
.row{
    position: relative;
    transform: all .40s;

}
.row img{
    width: 100%;
    height: auto;
    transform: all .40S;

}
.row img:hover{
    transform: scale(0.9);
}
.products-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27B737;
    padding: 3PX 10Px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: #EE1C47;
}
.ratting i{
    color: #ff8c00;
    font-size: 18px;
}
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 400;
}
/*contact-section*/

.contact{
    background-color: #f3f4f6;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.first-info img{
    width: 140px;
    height: auto;
}
.contact-info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10Px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info :hover{
    color: #EE1C47;

}
.scoial-icon i{
    color: #565656;
    margin-right: 10Px;
    font-size: 20px;
    transition: all .42s;
}
.scoial-icon i:hover{
    transform: scale(1.3);
}
.end-text{
    background-color: #edfff1;
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: #111;
    text-transform: capitalize;
}
/* responstive-css*/
@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:630px){
    .text-home h1{
        font-size: 50px;
        transition: .4s;
    }
    .text-home p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}
@media(max-width:750px){
    .navmeun{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background-color: #edfff1;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmeun a{
        display: block;
        margin: 18px 0;


    }
    .navmeun.open{
        right: 0;
    }
}


